<nav>
  <div class="nav-wrapper red accent-6">
    <a href="#" class="brand-logo">  Service de Radiologie</a>
    <ul id="" class="right hide-on-med-and-down">
      <li>
        <a routerLink='/admission' routerLinkActive='active'>
          <i class="small material-icons left">wc</i> Admission
        </a>
      </li>
      <li>
        <a routerLink='/ccam' routerLinkActive='active'>
          <i class="small material-icons left">assignment</i> CCAM
        </a>
      </li>
      <li>
        <a routerLink='/modalites' routerLinkActive='active'>
          <i class="small material-icons left">storage</i> Modalités
        </a>
      </li>
    </ul>
  </div>
</nav>