<div class="row">
    <div class="col s12 m12">
        <div class="chip green accent-4">
            <a class="white-text" routerLink="" routerLinkActive='active'>Tableau de bord</a>
        </div>
        <div class="chip" routerLink="/admission" routerLinkActive='active'>
            Admission
        </div>
        <div class="chip green accent-4">
          <a class="white-text" routerLink="/admission/{{patient.ipp}}/venues" routerLinkActive='active'>
            {{patient.ipp}} : {{patient.nom}} {{patient.prenom}}
          </a>
        </div>
        <div class="chip pulse">
            IEP: {{venue.iep}}
        </div>
        <div class="chip blue accent-4 white-text">
            {{nb}} Acte<span *ngIf="nb > 1">s</span>
        </div>
    </div>
</div>
<div class="row">
  <div class='col s12'>
    <app-add-acte></app-add-acte>
  </div>
</div>
<div class="row">
        <div class='col s12'>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <div class='col s3'>
                  <label>Actes</label>
                </div>
                <div class='col s3'>
                  <label>Date</label>
                </div>
                <div class='col s3'>
                  <label>Heure</label>
                </div>
              </div>
            </li>
            <li *ngFor='let a of actes'>
              <div class="collapsible-header">
                <div class='col s3'>
                  {{a.ccam.libelle}}
                </div>
                <div class='col s3'>
                </div>
                <div class='col s2'>
                </div>
              </div>
              <div class='collapsible-body'>
                <div class="row">
                  <div class='col s2' *ngFor='let i of a.images'>
                    
                  </div>
                  <div class='col s2'>
                    <img class="materialboxed" width="150" src="../../assets/images/isis/1.jpg">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>