<!--Menu TODO -->
<div class='col s3'>
  <div class='row'>
    <a class="waves-effect waves-light btn green accent-4"><i class="small material-icons left">storage</i>Stock</a>
  </div>
  <div class='row'>
    <a routerLink='/stockFrigo' routerLinkActive='active' class="waves-effect waves-light btn blue darken-2"><i class="small material-icons left">ac_unit</i>Stock Frigo</a>
  </div>
  <div class='row'>
    <a class="waves-effect waves-light btn orange accent-4"><i class="small material-icons left">lock</i>Stock Sécurisé</a>
  </div>
</div>

<!--Stock list -->
<div class='col s9'>
  <router-outlet name='sub'></router-outlet>
  <ul class="collapsible">
    <li *ngFor='let m of medicaments'>

      <!--Collapsible header -->
      <div class="collapsible-header">
        <div class='col s9'>
          {{m.Nom}}
        </div>
        <div class='col s3'>
          <div *ngIf="m.Quantite > 15 ;else elseLow">
            <span class="new badge green" data-badge-caption=' unités'>{{m.Quantite}}</span>
          </div>
          <ng-template #elseLow>
            <div *ngIf="m.Quantite > 0 ;else elseEmpty">
              <span class="new badge orange" data-badge-caption='unités - Stock bas !'>{{m.Quantite}}</span>
            </div>
          </ng-template>
          <ng-template #elseEmpty>
            <span class="new badge red" data-badge-caption='- Stock vide !'>{{m.Quantite}}</span>
          </ng-template>
        </div>
      </div>

      <!--Collapsible body -->
      <div class='collapsible-body'>
        <div class='row'>
          <div class='col s4'>
            Nom : {{m.Nom}}
          </div>
          <div class='col s4'>
            Quantite : {{m.Quantite}} unité(s)
          </div>
          <div class='col s4'>
            Cout : {{m.Cout}} €
          </div>
        </div>
        <div class='row'>
          <div class='col s6'>
            Stockage frigo : <span *ngIf='m.Frigo == true; else elseFridge'>Oui</span>
            <ng-template #elseFridge>
              <span>Non</span>
            </ng-template>
          </div>
          <div class='col s6'>
            Stockage sécurisé : <span *ngIf='m.Securise == true; else elseSecu'>Oui</span>
            <ng-template #elseSecu>
              <span>Non</span>
            </ng-template>
          </div>
        </div>
      </div>

    </li>
  </ul>
</div>
