<div class='col s12'>
  <router-outlet name='sub'></router-outlet>
  <ul class="collapsible" data-collapsible="accordion">
      <li>
          <div class="collapsible-header">
              <div class='col s4'><label>Modalité</label></div>
              <div class='col s4'><label>Pacs</label></div>
              <div class='col s4'><label>Lien</label></div>
          </div>
      </li>
    <li *ngFor="let m of modalites"  >
        <div class="collapsible-header">
            <div class='col s4'>
              {{m.Nom}}
            </div>
            <div class='col s4'>
              {{m.Pacs}}
            </div>
            <div class='col s4'>
              {{m.Lien}}
            </div>
        </div>
    </li>
  </ul>
</div>