<div class="row">
  <div class="col s12 m12">
    <div class="chip">
      Modalités
    </div>
    <div class="chip green accent-4 white-text">
      Ajouter
  </div>
  </div>
</div>

<div class='col s12'>
  <ul class="collapsible" data-collapsible="accordion">
      <li>
          <div class="collapsible-header">
              <div class='col s3'><label>Modalité</label></div>
              <div class='col s3'><label>Pacs</label></div>
              <div class='col s3'><label>Lien</label></div>
              <div class='col s3'><label>Actions</label></div>
          </div>
      </li>
    <li *ngFor="let m of modalites"  >
        <div class="collapsible-header">
            <div class='col s3'>
              {{m.nom}}
            </div>
            <div class='col s3'>
              {{m.pacs}}
            </div>
            <div class='col s3'>
              {{m.link}}
            </div>
            <div class='col s3'>
              <a class="btn waves-effect waves-light amber darken-3"><i class="material-icons right">edit</i></a>
              <button class="btn waves-effect waves-light red darken-3" type="submit" name="action"><i class="material-icons right">delete</i></button>
            </div>
        </div>
    </li>
  </ul>
</div>